body {
  min-height: 100vh;
}

#hero-section {
  height: 60vh;
  background-image: url('../images/london2.jpg');
  background-size: cover;
}

#hero-text {
  color: white;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  width: 40%;
  display: inline-block;
  margin-top: 10%;
  margin-left: 30%;
}

#hero-section h1 {
  color: white;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-align: center;
}

#hero-section h2 {
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}
