h1 {
    font-size: 3em;
    color:#e60d2e;
    padding-left: 50px;
    margin-top: 20px;
}

h2 {
    font-size: 2em;
    padding-left: 20px;
    margin-bottom: 30px;
}

#main-content {
    min-height: 80vh;
    padding: 50px;
}

#weather-forecast {
    margin-left: 20px;
}

.high-temp {
    color: #e60d2e;
    font-weight:bold !important;
}

.low-temp {
    color: rgb(38, 16, 182);
    font-weight:bold !important;
}

.weather-day {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.75em;
    font-weight: bold;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 20px;
    width: 60%;
}

.weather-day img {
    width: fit-content;
}

@media screen and (max-width: 1000px) {
    .weather-day {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1.75em;
        font-weight: bold;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding: 20px;
        width: 100%;
    }

    .weather-day img {
        width: fit-content;
    }
  }

.weather-day:last-child {
    border-bottom: 1px solid black;
}

.weather-day * {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.weather-date {
    font-weight: bold;
}

.weather-day p:not(:first-child) {
    font-size: 0.75em;
    font-weight:normal;
    display: block;
}

#weathererror-message {
    color: #e60d2e;
    font-size: 1.5em;
    text-align: center;
  }





  